{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bonjour j'espère que tu es prêt à chercher </h1>
    <p> Voici la description de la plante à trouver </p>
    {% for plant in plants %}
    <tr>
        <br>
        <td>{{ plant.name}}</td>
        <br>
        <td><p class="after">{{ plant.DescriptionAfter }}</p></td>
    </tr>
    <img class="image" src="{{ asset('assets/medias/pissenlit.jpg') }}"></img>
    {% endfor %}
    
</div>
<button onclick="window.location.href='/home';"> Home</button>


{% endblock %}

    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('assets/js/pic.js') }}"></script>
    {% endblock %}